.member-ctn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);
    background: #252525;
    justify-content: center;
    align-items: center;

    .nav-info {
        width: 85%;
        height: 50px;
        display: flex;
        background: #252525;

        .opt-info {
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 50px;
            background: inherit;
            text-decoration: none;
            color: white;
            border-radius: 0 30px 0 0;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                background: var(--1st-color);
            }
        }
    }

    .mem-info {
        width: 85%;
        height: 80%;
        background: #787878;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .upd-btn {
            color: white;
            background: var(--1st-color);
            padding: 5px;
            width: 100px;
            align-self: center;
            cursor: pointer;
            transition: 0.4s;
            border-radius: 5px;
            border: 1px solid var(--1st-color);

            &:hover {
                color: var(--1st-color);
                background: var(--2st-color);
            }
        }

        .user-ava {
            margin-top: 20px;
            display: flex;
            gap: 30px;
            align-items: center;

            .avt-img {
                margin-left: 50px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

            .ava-btn {
                font-size: 12px;
                height: 25px;
                font-weight: bold;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: white;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background: var(--1st-color);
                    color: white;
                }
            }
        }

        .info-row {
            margin-left: 50px;
            display: flex;
            gap: 20%;
            width: 80%;

            .ctn-info {
                width: 40%;
                display: flex;
                flex-direction: column;

                label {
                    color: white;
                    font-weight: bold;
                    margin-left: 5px;
                }

                select {
                    height: 35%;
                    color: white;
                    text-indent: 5px;
                    width: 20%;
                    background-color: inherit;
                    border: 1px solid white;

                    option {
                        background: #787878;
                    }
                }

                textarea,
                input {
                    color: white;
                    text-indent: 5px;
                    width: 100%;
                    background-color: inherit;
                    border: 1px solid white;
                }
            }

        }
    }
}