.promotion {
    width: 100%;
    padding: 15px 0;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .frame {
        position: relative;
        border: 2px dashed var(--1st-color);
        width: 1050px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: rgb(221, 220, 220);

        .hav-del {
            position: absolute;
            top: 20px;
            right: 20px;

            .delete {
                color: white;
                padding: 7px 15px;
                background: var(--1st-color);
                border-radius: 7px;
                border: 2px solid var(--1st-color);
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    background: var(--2st-color);

                }
            }
        }

        .title {
            text-align: center;
            border: none;
            margin-top: 40px;
            font-size: 20px;
            font-weight: bold;
            color: var(--1st-color);
            height: 40px;
            width: 500px;
            background: linear-gradient(to bottom, #FAFF00 -20%, rgb(132, 222, 242));
        }

        .film-info {
            display: flex;
            margin-top: 10px;
            width: 95%;
            height: 400px;
            color: var(--1st-color);
            position: relative;

            .imgs {
                width: 100%;
                height: 100%;
            }

            .rdl {
                position: absolute;
                z-index: 2;
                top: calc(50% - 64px);
                left: calc(50% - 80px);
                width: 160px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;

                .rdl-img {
                    width: 25%;
                    transition: 0.2s;
                }
            }
        }

        .rule {
            align-self: flex-start;
            margin-left: 5%;
            font-weight: bold;
        }

        #rule_cont {
            background: inherit;
            width: 85%;
            border: none;
            height: 300px;
            text-align: justify;
        }

        .edit-row {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .edit-btn {
                color: white;
                padding: 7px 20px;
                background: var(--1st-color);
                border-radius: 7px;
                border: 2px solid var(--1st-color);
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    background: var(--2st-color);
                }
            }

            .cancle {
                text-decoration: none;
                padding: 7px 20px;
                background: red;
                color: white;
                background: var(--2st-color);
                border-radius: 7px;
                border: 2px solid var(--1st-color);
                transition: 0.2s;
                display: none;

                &:hover {
                    background: var(--1st-color);

                }
            }

            .save {
                color: white;
                padding: 7px 15px;
                background: var(--1st-color);
                border-radius: 7px;
                border: 2px solid var(--1st-color);
                transition: 0.2s;
                cursor: pointer;
                display: none;

                &:hover {
                    background: var(--2st-color);

                }
            }
        }

    }
}

.annouce {
    padding: 20px 0 0 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;

    .cont {
        width: 1050px;
        color: var(--1st-color);
        font-weight: bold;
        font-size: 20px;
    }
}

.slides-show {
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;

    .slides-s {
        width: 1050px;
        display: flex;
        height: 300px;
        align-items: center;
        overflow-x: hidden;
        position: relative;

        .clickL {
            width: 25px;
            height: 25px;
            cursor: pointer;
            z-index: 10;
            position: absolute;
            left: 10px;

            &:hover {
                transform: scale(1.1);

            }
        }

        .clickR {
            width: 25px;
            height: 25px;
            cursor: pointer;
            z-index: 10;
            position: absolute;
            right: 10px;

            &:hover {
                transform: scale(1.1);
            }
        }

        .contain {
            position: absolute;
            display: flex;
            gap: 50px;

            .each {
                flex: 0 0 500px;
                height: 250px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                text-decoration: none;

                .add-prom {
                    border-radius: 7px;
                    width: 100%;
                    height: 220px;
                    border: 1px solid var(--1st-color);
                    display: flex;

                    img {
                        margin: auto;
                        width: 80px;
                        height: 80px;

                        &:hover {
                            transform: scale(1.1);
                            transition: 0.5s;
                        }
                    }
                }

                img {
                    border-radius: 7px;
                    width: 100%;
                    height: 220px;
                }

                .title {
                    font-weight: bold;
                    color: white;
                    text-align: center;
                }
            }
        }

    }
}

.dele-contain {
    width: 300px;
    height: 100px;
    display: none;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--1st-color);
    position: fixed;
    top: calc(50% - 50px);
    right: calc(50% - 150px);
    z-index: 10;
    border: 1px solid white;
    border-radius: 10px;

    .title {
        width: 95%;
        color: white;
        text-align: center;
    }

    .dele {
        display: flex;
        gap: 30px;

        .dele-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 30px;
            color: var(--2st-color);
            background: var(--1st-color);
            border: 1px solid var(--2st-color);
            border-radius: 7px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                color: white;
                background: var(--2st-color);
            }
        }

        .cancel-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 30px;
            color: white;
            background: var(--2st-color);
            border: 1px solid var(--2st-color);
            border-radius: 7px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                color: var(--2st-color);
                background: var(--1st-color);
            }
        }
    }
}